@import "tailwindcss";

@theme {
    --color-dark-theme: #25242b;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1c1b21;
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 4px;
    border: 2px solid #1e1e2e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
}
